asgiref==3.8.1 ; python_version >= "3.11" and python_version < "3.14"
async-timeout==5.0.1 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==24.3.0 ; python_version >= "3.11" and python_version < "3.14"
django-filter==24.3 ; python_version >= "3.11" and python_version < "3.14"
django-jsoneditor==0.2.4 ; python_version >= "3.11" and python_version < "3.14"
django-redis==5.4.0 ; python_version >= "3.11" and python_version < "3.14"
django==5.1.5 ; python_version >= "3.11" and python_version < "3.14"
djangorestframework-simplejwt==5.4.0 ; python_version >= "3.11" and python_version < "3.14"
djangorestframework==3.15.2 ; python_version >= "3.11" and python_version < "3.14"
drf-nested-routers==0.94.1 ; python_version >= "3.11" and python_version < "3.14"
drf-spectacular==0.28.0 ; python_version >= "3.11" and python_version < "3.14"
inflection==0.5.1 ; python_version >= "3.11" and python_version < "3.14"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11" and python_version < "3.14"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.11" and python_version < "3.14"
pillow==11.1.0 ; python_version >= "3.11" and python_version < "3.14"
pyjwt==2.10.1 ; python_version >= "3.11" and python_version < "3.14"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.14"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "3.14"
redis==5.2.1 ; python_version >= "3.11" and python_version < "3.14"
referencing==0.36.1 ; python_version >= "3.11" and python_version < "3.14"
rpds-py==0.22.3 ; python_version >= "3.11" and python_version < "3.14"
sqlparse==0.5.3 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.11" and python_version < "3.14" and sys_platform == "win32"
uritemplate==4.1.1 ; python_version >= "3.11" and python_version < "3.14"
